{%extends "base.html"%}
{%block content%}
{% include "navbar.html"%}
<div class="simon">
    <h2 class="heading2">Think your website has what it takes? </h2>
    <p class="parrag">Submit your site and let others be the the judge of that! </p>
    
</div>
<div class="container-fluid">
    <div class="row mt-3">
        {% for project in projects %}
        <div class="col-sm-3">
            <div class="img-box mb-2" style="width: 25rem;">

                <img class="image img-fluid" src="{{project.image.url}}" alt="IMAGE LOADING...">
            </div>
            <div class="words">
                <h4 class="text-bold"> {{project.title}} </h4>
                
                    <p>Description: {{project.description}}</p>

                
                    <button type="button" class="btn btn-outline-primary">View Site</button>
                    <p class="m-2">By: {{project.user}}</p>

                </p>
                <hr>
            </div>
        </div>

        {% endfor %}
{%endblock%}