{%extends 'base.html'%}
{%load crispy_forms_tags %}

{%block content%}
<div class="container login">
       
          <div class=" simonn">
            <h3 class="title text-center header">Log in</h3>
            <p class="signup text-center para">Login to Continue.Not a member yet? <a href="{%url 'register'%}"><span class="sss">Register Now</span></a></p>
            <form action="" method="POST">
              {% csrf_token%}
              {{form | crispy}}
              <a href=""><button class="btn btn-info" type="submit">Sign in</button></a>
                
            </form>
          </div>
        </div>
      

{%endblock%}


