{%extends 'base.html'%}
{%load crispy_forms_tags %}

{%block content%}
<div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="slider-box">
              <div class="slider"></div>
            </div>
          </div>
          <div class="col-md-6 simon">
            <h3 class="title text-center header">Log in</h3>
            <p class="signup text-center para">Login to you account today and get a change to rate you experience with differnt websites</p>
            <form action="" method="POST">
              {% csrf_token%}
              {{form | crispy}}
              <a href=""><button class="btn btn-info" type="submit">Sign in</button></a>
                <p><small class="text-muted">Already have an account?<a href="">Sign In</a></small></p>
            </form>
          </div>
        </div>
      

{%endblock%}


