{%extends "base.html"%}
{%block content%}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Awards</a>
  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->
  <div>
  Are you a member? <a href="{%url 'register'%}">Register/Login</a>
  <!-- <a href="{%url 'login'%}">Login</a> -->
  
  
  <!-- <a href="{%url 'submit'%}">Submit~Site</a>
  <a href="">Profile</a>
  <a href="">Logout</a> -->
</div>



  
</nav>


{%endblock content%}