h1 {
    color:red;
}

  .navbar a {
    color: #000;
    text-decoration: none;
  }
  .navbar a:hover {
      color:blue;
      text-decoration: none;

  }
  .register {
      margin: 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  .login {
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;

  }
.sss {
  color:blue;
}